@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.AccessDenied>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}



<div class="alert alert-danger">
  <strong>Oh snap!</strong> It seems you've tried to access something you're not allowed to.
  <br />
  If you believe this to be an error, <a href="/contact-us">contact an admin</a>.
</div>

