@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.EventsOverview>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}

@{
	var selection = Umbraco.Content(Guid.Parse("85c23a16-0a04-460a-a25c-a09470e86724"))
    .ChildrenOfType("event")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
}
<ul>
	@foreach (var item in selection)
	{
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>

