@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<section class="row">
    <article class="col">
        <h1>@Model.Value("siteTitle")</h1>
        @Model.Value("mainContent")
    </article>
</section>
