@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Login>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@{
    Layout = "Master.cshtml";
}
<section class="row d-flex justify-content-center">
    <article class="col-lg-4 col-12">
        @{
            if (!Members.GetCurrentLoginStatus().IsLoggedIn)
            {
                @Html.Partial("loginForm");
            }
            else
            {
                var logoutModel = new PostRedirectModel();
                logoutModel.RedirectUrl = "/";
                using (Html.BeginUmbracoForm<UmbLoginStatusController>
                    ("HandleLogout", null, new { @class = "d-inline-flex" }))
                {
                    <section class="mt-5 d-flex flex-wrap">
                        <h3 class="me-2">Already logged in as: <small>@Members.GetCurrentLoginStatus().Name</small></h3>
                        <button class="btn btn-danger d-flex mx-auto">
                            <i class="bi bi-box-arrow-in-left pe-1"></i>Logout
                        </button>
                        @Html.HiddenFor(m => logoutModel.RedirectUrl)
                    </section>
                }
            }
        }
    </article>
</section>