@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ProjectItem>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<h2>Name:@Model.Value("title")</h2>
@Model.Value("projectDescription")
@Model.Value("status")